build/
bin/
obj/

# Arquivos gerados pelo CMake (caso não use pasta build separada)
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Executáveis (ajuste o nome se mudar o target no CMake)
engine
*.exe
*.out
*.app
